.head {
   background-color: transparent;
   background-repeat: no-repeat;
   margin-left: 28%;
   padding-top:2%;
   width:40%;
   height: 30%;

}

body { 
    background-color: black;
    color: darkgreen;
}

.game-container {
    text-align: center;

}

p {
    padding: 5px;
    background-color: rgb(1, 68, 10);
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
 
#pressKeyTryAgain{
    background: black;
    color: darkred;
    
}


#gameOver-image, #youWin-image{ 
    z-index: 101;
}

#currentWord {
    letter-spacing: 8px;
}

#pressKeyTryAgain, 
#gameover-image, 
#youwin-image { display: none;}
.gameplay-column {
    padding-top: 20px;
    border: 3px dashed goldenrod;
    text-align: center;
    margin-top: 20px;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.185);
}
#screen{
    width: 25%;
    height: 36%;
    margin-left: 38%;
    border: 5px groove goldenrod;
    
}

@keyframes bg {
    from {visibility: hidden;}
    to {visibility: visible;}
    
    
}

#hangmanImage {    
    width: 200px;
    height: 200px;
}

