button {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 30px;
	height: 25px;
	background-color: darkgreen;	
	border-color: goldenrod;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
	margin: 0;
	background-color: black;
	color: aqua;
}